<div class="header-button">
  <div class="noti-wrap">
  </div>
    <div class="account-wrap">
        <div class="account-item clearfix js-item-menu">
            <div class="image">
                <img src="images/icon/logo-01.png" alt="Profil Picture" />
            </div>
            <div class="content">
                <a class="js-acc-btn logged-user-name" href="#"> </a>
            </div>
            <div class="account-dropdown js-dropdown">
                <div class="info clearfix">
                    <div class="image">
                        <a href="#">
                            <img src="images/icon/logo-01.png" alt="Profil Picture" />
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="name">
                            <a class="logged-user-name" href="#"> </a>
                        </h5>
                        <span class="email logged-user-email"> </span>
                    </div>
                </div>
                <div class="account-dropdown__body">
                    <div class="account-dropdown__item">
                        <a href="/admin/akun">
                            <i class="zmdi zmdi-account"></i>Akun</a>
                    </div>
                </div>
                <div class="account-dropdown__footer">
                    <a href="javascript:logout()">
                        <i class="zmdi zmdi-power"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
