<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="../img/logo_mksrobotics.png" alt="Logo Makassar Robotics" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
      <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar__list">
                <li   <% if (title === 'Dashboard') { %> class="active" <% } %> >
                  <a href="/admin">
                      <i class="fas fa-home"></i>Dashboard</a>
              </li>
              <li class="has-sub">
                  <a class="js-arrow" href="#">
                      <i class="fas fa-file-text"></i>Data</a>
                  <ul class="list-unstyled navbar__sub-list js-sub-list">
                      <li   <% if (title === 'Kategori') { %> class="active" <% } %> >
                          <a href="/admin/kategori">
                              <i class="fas fa-puzzle-piece"></i>Kategori</a>
                      </li>
                    

                  </ul>
              </li>

          </ul>
      </nav>
    </div>
</aside>
